<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post detail</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h2>Post detail</h2>
    <form id="frm" method="post">
        <table class="post_detail">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <caption>Post detail</caption>
            <tbody>
            <tr>
                <th scope="row">Post no.</th>
                <td th:text="${post.postIdx}"></td>
                <th scope="row">Views</th>
                <td th:text="${post.hitCnt }"></td>
            </tr>
            <tr>
                <th scope="row">Writer</th>
                <td th:text="${post.creatorId }"></td>
                <th scope="row">Last update</th>
                <td th:text="${post.datetimeCreated }"></td>
            </tr>
            <tr>
                <th scope="row">Title</th>
                <td colspan="3"><input type="text" id="title" name="title" th:value="${post.title }"/></td>
            </tr>
            <tr>
                <td colspan="4" class="view_text">
                    <textarea title="Content" id="contents" name="contents" th:text="${post.contents }"></textarea>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" id="postIdx" name="postIdx" th:value="${post.postIdx }"/>
    </form>

    <a href="#this" id="list" class="btn">To board</a>
    <a href="#this" id="edit" class="btn">Update</a>
    <a href="/board/deletePost.do?postIdx=" id="delete" class="btn" th:attrappend="href=${post.postIdx}">Delete</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
			$("#list").on("click", function(){
				location.href = "/board/openPostList.do";
			});

			$("#edit").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/board/updatePost.do";
				frm.submit();
			});

/*
			$("#delete").on("click", function(){
				var frm = $("#frm")[0];
				frm.action = "/board/deletePost.do";
				frm.submit();
			});
*/
		});
	</script>
</body>
</html>